<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.webgui.wre</string>
	<key>ProgramArguments</key>
	<array>
		<string>/data/wre/sbin/wreservice.pl</string>
		<string>--start</string>
		<string>all</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
