[mysqld]
set-variable = key_buffer=256M
set-variable = max_allowed_packet=16M
set-variable = max_connections=1000
set-variable = myisam_sort_buffer_size=64M
set-variable = sort_buffer=2M
set-variable = record_buffer=2M
set-variable = thread_cache=8
set-variable = thread_concurrency=4
set-variable = thread_stack=128K
set-variable = table_cache=512
set-variable = wait_timeout=600
set-variable = query_cache_size=32M
set-variable = default-character-set=utf8
