<VirtualHost *:__apache-modperl-port__>
	ServerName __sitename__
	DocumentRoot __domain-home__/__sitename__/public
        SetHandler perl-script
        PerlInitHandler WebGUI
        PerlSetVar WebguiConfig __sitename__.conf
</VirtualHost>
