<VirtualHost *:[% config.get('apache/port') %]>
	ServerName [% sitename %]
    [% IF adminEmail %]
        ServerAdmin [% adminEmail %]
    [% END %]
	DocumentRoot [% config.getDomainRoot %]/[% sitename %]/public
    SetEnvIf SSLPROXY "1" \
        SSLPROXY
    SetHandler perl-script
    PerlInitHandler WebGUI
    PerlSetVar WebguiConfig [% sitename %].conf
</VirtualHost>
