<VirtualHost *:[% modperlPort %]>
	ServerName [% sitename %]
    [% IF adminEmail %]
        ServerAdmin [% adminEmail %]
    [% END %]
	DocumentRoot [% domainRoot %]/[% sitename %]/public
    SetEnvIf SSLPROXY "1" \
        SSLPROXY
    SetHandler perl-script
    PerlInitHandler WebGUI
    PerlSetVar WebguiConfig [% sitename %].conf
</VirtualHost>
