<VirtualHost *:[% modperlPort %]>
	ServerName [% sitename %]
	ServerAlias [% domain %]
	DocumentRoot [% domainRoot %]/[% sitename %]/public
    SetEnvIf SSLPROXY "1" \
        SSLPROXY
    SetHandler perl-script
    PerlInitHandler WebGUI
    PerlSetVar WebguiConfig [% sitename %].conf
</VirtualHost>
