/* Edited with EditCSS */
/**** LINK-tag style sheet wre.css ****/

/* Default CSS for the WRE Console */

body {
    background-color: #5566cc;
    color: #ffffff;
    font-family: sans-serif;
}

.status {
    color: orange;
    font-size: 14pt;
}

.items {
    width: 100%;
    border: 0px;
}

.items td {
  border: 1px solid black;
  text-align: center;
}

form {
   display: inline;
}



#navUnderline {
    height: 3px;
    background-color: #000000;
    clear: both;
    margin-bottom: 8pt;
}


#logo {
  float:right;
  padding-top: 7pt;
  font-family: courier;
  font-size: 20pt;
}

#tabsWrapper a {
color:yellow;
text-decoration:none;
font-size:13px;
display:block;
float:left;
margin-left:15px;
background-color:#003071;
width:100px;
height:22px;
text-align:center;
padding-top:1.0em;
border-top:#00429C solid 1px;
}

#tabsWrapper a:hover {
background-color:black;
}

#tabsWrapper .sectionOn {
    color: #ffffff;
    background-color: #000000;
}


#credits {
   font-size: 8pt;
   margin-top: 8pt;
  width: 100%;
  text-align: right;
}

#credits a {
   color: yellow;
}
