/* Edited with EditCSS */
/**** LINK-tag style sheet wre.css ****/

/* Default CSS for the WRE Console */

body {
    background-color: #5566cc;
    color: #ffffff;
    font-family: sans-serif;
}

.saveButton {
    background-color: #008000;
    font-weight: bold;
    color: white;
    border: 2px outset #008000;
}

.deleteButton {
    background-color: #800000;
    font-weight: bold;
    color: white;
    border: 2px outset #800000;
}

.status {
    color: orange;
    font-size: 14px;
}

.items {
    width: 100%;
    border: 0px;
}

.items td {
  border: 1px solid black;
  text-align: center;
}

.subtext {
    font-size: 10px;
}

textarea {
    width: 100%;
    height: 400px;
}

form {
   display: inline;
}

#navUnderline {
    height: 3px;
    width: 100%;
    background-color: #000030;
    clear: both;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}

#logo {
    float:right;
    font-family: courier;
    font-size: 22px;
}

#tabsWrapper a {
    color: #aaaaff;
    text-decoration:none;
    font-size: 12px;
    display:block;
    float:left;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #000080;
    width: 100px;
    height: 22px;
    text-align:center;
    padding-top: 6px;
    border-top: #0000a0 solid 1px;
}

#tabsWrapper a:hover {
    background-color: #000030;
}

#tabsWrapper .sectionOn {
    color: #ffffff;
    background-color: #000030;
}


#credits {
    font-size: 8px;
    margin-top: 8px;
    width: 100%;
    text-align: right;
}

#credits a {
    color: yellow;
}
